@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
--box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-transform: capitalize;
}
.mb-10{
    margin-bottom: 150px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.top-header{
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.half-width img{
    width: 80%;
}
.top-header h1{
    font-size: 50px;
}
.top-header p{
    font-size: 20px;
}
.btn{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background: linear-gradient(90deg, rgb(255, 162, 0), tomato);
}
.orange{
    color: tomato;
}
.about-me{
    align-items: center;
    background: url(img/7.png)no-repeat;
    background-size: cover; 
     padding-bottom: 0;
}
.about-me img {
    width: 75%;
    }
.flexible-content{
    display: flex;
}
.about-me h2{
    font-size: 30px;
    color: gray;
}
.recipies{
    text-align: center;
}
.flex-container{
    display: flex;
}
/* .card{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: var(--box-shadow);
} */

.right-sec{
    padding: 20px 20px 30px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    margin-top: 5px;
}

.right-sec img{
    width: 100%;
    border-radius: 20px;
    
}
.left-sec{
    padding: 20px 20px 30px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    margin-top: 5px;
}
.left-sec img{
    width: 90%;
    border-radius: 20px;
    
}
.flex-container p{
    text-transform: capitalize;
    text-align: justify;
}
.stats{
    width: 100%;
    height: auto;
    padding: 30px;
    box-shadow: var(--box-shadow);
}
.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.stats h1{
    font-size: 50px;
}
.stats p{
    font: 20px;
}
.p-m{
    margin-top: -20px;
}
.footer{
    text-align: center;
    color: white;
    width: 100%;
    padding: 100px 0;
    background: #0c0c0c;
}
.footer h1{
    font-size: 50px;
}